Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsServer/FileOpenOrder/CookerOpenOrder.log
*.log

# Linux Generated Project Files
.idea
.kdev4
cmake-build-debug
CMakeLists.txt
.ignore
GIGWorlds.code-workspace
GIGWorlds.kdev4
GIGWorlds.pro
GIGWorlds.workspace
GIGWorldsCodeCompletionFolders.txt
GIGWorldsCodeLitePreProcessor.txt
GIGWorldsConfig.pri
GIGWorldsDefines.pri
GIGWorldsHeader.pri
GIGWorldsIncludes.pri
GIGWorldsSource.pri
Makefile

Content/UltraDynamicSky/Textures/Sky/Real_Stars.uasset
Build/*
