Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsServer/FileOpenOrder/CookerOpenOrder.log
*.log

# Linux Generated Project Files
.idea
.kdev4
cmake-build-debug
CMakeLists.txt
.ignore
GIGWorlds.code-workspace
GIGWorlds.kdev4
GIGWorlds.pro
GIGWorlds.workspace
GIGWorldsCodeCompletionFolders.txt
GIGWorldsCodeLitePreProcessor.txt
GIGWorldsConfig.pri
GIGWorldsDefines.pri
GIGWorldsHeader.pri
GIGWorldsIncludes.pri
GIGWorldsSource.pri
Makefile

Content/UltraDynamicSky/Textures/Sky/Real_Stars.uasset
Build/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Build/WindowsNoEditor/GGTAG.exe
Build/WindowsNoEditor/GIGWorlds/Content/Paks/GIGWorlds-WindowsNoEditor.pak
Build/WindowsNoEditor/TAGv1.8.2.5.zip
Build/WindowsServer/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Build/WindowsServer/GIGWorlds/Content/Paks/GIGWorlds-WindowsServer.pak
Build/WindowsServer/GIGWorldsServer.exe
Build/WindowsServer/Manifest_NonUFSFiles_Win64.txt
